/*****************************/
/* Start of NavBar */
/*****************************/
#header-image-menu{
  top: 10px;
  position: relative;
}

#header-image-menu img{
  width: 100%;
  margin: none;
  padding: none;
}

#image-text{
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: 'Roboto';
  color: #000;
  transform: translate(-30%, -30%);
  text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/*****************************/
/* End of NavBar */
/*****************************/

/*****************************/
/* Start of DarkMode */
/*****************************/



img {
  cursor: pointer;
  max-width: 100%;
  height: auto;
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  font-family: 'ShopFont'
}

/* Default text color */
.text-color {
  color: #000; /* Use a dark color for light mode */
}

/* Dark mode styles */
.dark-mode .text-color {
  color: #ffcc00; /* Use a contrasting color for dark mode (e.g., yellow) */
}

/*****************************/
/* End of DarkMode */
/*****************************/

/*****************************/
/* Start of Pagination */
/*****************************/

.pagination button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007BFF;
  color: white;
}

.pagination button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/*****************************/
/* End of Pagination */
/*****************************/

/*****************************/
/* Start of Slideshow */
/*****************************/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  width: 100%;
  height: auto;
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  text-align: center;
  width: auto; /* Optional: Adjust if needed */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/*****************************/
/* End of Slideshow */
/*****************************/

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@font-face {
  font-family: 'ShopFont'; 
  src: url('Copyshop.ttf'); 
}

.fade-in-text {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.fade-in-image {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.header {
  padding: 80px; 
  text-align: center; 
  color: black; 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'ShopFont'
}

.header h1 {
  font-size: 80px;
}

.navbar {
  overflow: hidden; 
  background-color: #333; 
}

.navbar a {
  display: block; 
  color: white; 
  text-align: center; 
  padding: 14px 20px; 
  text-decoration: none;
  
}

.navbar a.center {
  float: center;
}

.navbar a.right {
  float: right;
}

.navbar a.left {
  float: left;
}

.navbar a:hover {
  background-color: #ddd; 
  color: black; 
  cursor: url('./Cursores/TriforceCursor.png'), default;
}

@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  

  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }

  .footer {
    padding: 20px; 
    text-align: center;
    background: #ddd; 
  }

  * {
    box-sizing: border-box;
  }
  
input[type=text], select, textarea {
  width: 100%; 
  cursor: url('./Cursores/WindCursor.png'), default;
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical  
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
  cursor: url('./Cursores/TriforceCursor.png'), default;
}

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .column a:hover {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 105;
    cursor: url('./Cursores/TriforceCursor.png'), default;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

body {
  color: goldenrod;
  font-size: 20px;
  margin: 0;
  background-color: #c9ccd1;
  background-repeat: no-repeat; 
  background-size: cover;
  font-family: "ShopFont"
}
  
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;

  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container a:hover {
  padding: 0 16px;
  cursor: url('./Cursores/TriforceCursor.png'), default;
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 105;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
  cursor: url('./Cursores/TriforceCursor.png'), default;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: #dfe5e6;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container img {
  object-fit: contain;
} 



ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
  cursor: url('./Cursores/TriforceCursor.png'), default;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
  cursor: url('./Cursores/TriforceCursor.png'), default;
  
}


@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


/* Color and size transition */

.trans {
  background-color: #f4511e;
  border: none;
  color: white;
  text-align: center;
  position: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  width: 20%;
}

.trans:hover {
  opacity: 1;
  width: 50%;
  margin-top: 6px;
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 105;
  cursor: url('./Cursores/TriforceCursor.png'), default;
  text-align: center;
  }

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

.button-container {
  display: flex;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
  font-family: 'ShopFont'
}

.dark-mode {
  background-color: black;
  color: white;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'ShopFont';
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}
 
.color-choose div {
  display: inline-block;
}
 
.color-choose input[type="radio"] {
  display: none;
}
 
.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
 
.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
 
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.wrapper {
  max-width: 65ch;
  margin: 0 auto;
  padding: 0 2rem;
}

.call-to-action-text {
  margin: 2rem 0;
  text-align: left;
}
.star-wrap {
  width: max-content;
  margin: 0 auto;
  position: relative;
}
.star-label.hidden {
  display: none;
}
.star-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}
@media (min-width: 840px) {
  .star-label {
    width: 6rem;
    height: 6rem;
  }
}

.star-shape {
  background-color: gold;
  width: 80%;
  height: 80%;
  /*star shaped cutout, works  best if it is applied to a square*/
  /* from Clippy @ https://bennettfeely.com/clippy/ */
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

/* make stars *after* the checked radio gray*/
.star:checked + .star-label ~ .star-label .star-shape {
  background-color: lightgray;
}

/*hide away the actual radio inputs*/
.star {
  position: fixed;
  opacity: 0;
  /*top: -90000px;*/
  left: -90000px;
}

.star:focus + .star-label {
  outline: 2px dotted black;
}
.skip-button {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  position: absolute;
  top: -2rem;
  right: -1rem;
  /*transform: translateY(-50%);*/
  text-align: center;
  line-height: 2rem;
  font-size:2rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.skip-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#skip-star:checked ~ .skip-button {
  display: none;
}
#result {
  text-align: center;
  padding: 1rem 2rem;
}
.exp-link {
  text-align: center;
  padding: 1rem 2rem;
}
.exp-link a{
  color: lightgray;
  text-decoration:underline;
} 

.comment-section { 
  margin: 20px; 
  border: 1px solid #ccc; 
  padding: 10px; 
} 
.comment { 
  margin: 10px 0; 
  padding: 10px; 
  border: 1px solid #ddd; 
}
